{{> layout.hbs}}
<div class="col-md-12">
{{#block "content"}}
        <h3 class="main-head">Lore Learning
            Management System</h3>
        <p class="prgh1">Study any topic, anytime. Explore thousands of skills <br>
            for the lowest price ever</p>
        <img class="homepage" src="./images/home.png" alt="homepage">
        <button class="btn1 btn-success">Get Started</button>
        <h1 class="head-2">Who we are</h1>
        <p class="prgh2">In a competitive job market,  we provide solutions to today’s problems</p>
        <p class="prgh3">We are an  online  Institution specializing in  soft  skills  courses that prepare  students for the</p>
        <p class="prgh4">Job market.We also offer online coaching lessons for remote learning</p>
    </div>
    <div class="container">
    <div class="courses">
        <p class="prgh5">Our Most popular courses</p>
        <img class="laptop" src="./images/lorey laptop.jpeg" alt="laptop">
        <p class="prgh6">Creative Thinking: Techniques <br>
            and tools for success</p>
        <img class="skills" src="./images/soft lore.jpg" alt="skills">
        <p class="prgh7">Foundations of Professional Identity <br>
            Shaping Your Professional Brand</p>
    </div>
    </div>
{{/block}}
</div>