{{> layout.hbs}}
{{#block "content"}}
    <div class="overall row">
        <div class="col-md-6">
    <form action="/students/new" method="post">
        <p class="form-header">Add a student</p>
    <div class="mb-3">
        <label for="name" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Student Email</label>
        <input type="text" class="form-control" id="email" name="email" required>
    </div>
    <div class="mb-3">
        <label for="phonenumber" class="form-label">Student PhoneNumber</label>
        <input type="text" class="form-control" id="phonenumber" name="phonenumber" required>
    </div>
    <div class="mb-3">
        <label for="enrolmentdate" class="form-label">Enrollment Date</label>
        <input type="date" class="form-control" id="enrolmentdate" name="enrolmentdate" required>
    </div>
    <div class="mb-3">
        <label for="courseid" class="form-label">Course</label>
        <!--        <input type="number" class="form-control" id="courseid" name="courseid" required>-->
        <select name="courseid" id="courseid" class="form-control">
            <option value="1">Creative Thinking And Tools For Success</option>
            <option value="2">Team Work Skills</option>
            <option value="3">Emotional And Social Intelligence</option>
            <option value="4">Foundations Of Professional Identity</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
        </div>

        <div class="col-md-6">
            <img src="/images/lore form.png" alt="young girl" class="form-image">
        </div>
    </div>
    <div class="testimonials">
        <h5 class="testimony-header">What Our <br> Learners Say About Us</h5>
        <div class="row testimonials-row">
            <div class="col-md-4">
                <p class="iconify">"</p>
                <img src="/images/student4.png" alt="student1" class="student1">
                <p class="prgh8">The course was really interesting with the <br> option to choose between exciting skills
                    <br> modules and soft skills was something I’ve <br> always wanted to do and learn.</p>
            </div>
            <div class="col-md-4">
                <p class="iconify">"</p>
                <img src="/images/image.png" alt="student2" class="students">
                <p class="prgh8">The  course was a good mix of Thought <br>  Research model. This gave me the option to
                    <br> research many social skills and I can't wait to <br> apply them.
                </p>
            </div>
            <div class="col-md-4">
                <p class="iconify">"</p>
                <img src="/images/student3.jpg" alt="student2" class="student3">
                <p class="prgh8">During my studies my analytical skills drastically <br> improved and I developed a strategic way of going
                    <br> about my job as a manager, people management <br> became real concepts to me that I now apply
                    <br> everyday.</p>
            </div>
        </div>
    </div>

    <div class="banner">
        <h6 class="banner-header">Ready to Join</h6>
        <p class="banner-content">Take a step towards your future <br>
            We are here and happy to serve you.
        </p>
        <button class="register"><a href="/student/new" class="register-link">Register Now</a></button>
    </div>
{{/block}}




