{{#if students}}
    {{#each students}}
        <ul>
            <li>Student Name: <span>{{name}}</span></li>
            <li>Student Email: <span>{{email}}</span></li>
            <li>Student PhoneNumber: <span>{{phoneNumber}}</span></li>
            <li>EnrollmentDate: <span>{{enrollmentDate}}</span></li>
        </ul>
    {{/each}}
{{/if}}