{{#each courses}}
    <ul>
        <li>Course Title: {{courseName}}</li>
        <li>Course Description: {{courseDetails}}</li>
        <a href="/students/{{id}}">Show students in this Course</a>

    </ul>
{{/each}}